rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /books/{document} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.email == 'paulkieren2000@gmail.com';
    }
    match /courses/{document} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.email == 'paulkieren2000@gmail.com';
    }
    match /blogs/{document} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.email == 'paulkieren2000@gmail.com';
    }
    match /certificates/{document} {
      allow read: if request.auth != null && resource.data.userId == request.auth.uid;
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow update, delete: if false;
    }
  }
}
